<h1>商品登録</h1>

<!-- Bootstrapを使用して暫定的に見た目を整えているが、ここのフォームはレイアウトを適した形に変更する -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @product, local: true) do |f| %>
      <%= render 'shared/error_messages_product' %>

      <%= f.label :name, "商品名" %>
      <%= f.text_field :name %>

      <%= f.label :price, "価格" %>
      <%= f.text_field :price %>

      <%= f.label :stock, "在庫数" %>
      <%= f.text_field :stock %>

      <%= f.label :descripion, "商品概要", class: "description" %>
      <%= f.text_area :description, placeholder: "商品の概要" %>

      <%= f.label :image, "商品画像" %>
      <%= f.file_field :image, multiple: true %>

      <%= f.submit "登録", class: "btn btn-primary" %>
      <%= link_to 'キャンセル', root_path, class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>
